<!--begin::Content-->
<div id="kt_app_content" class="app-content  flex-column-fluid " >
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-fluid ">
<!--begin::Row-->
<div class="row gx-5 g-xl-10 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<!--layout-partial:partials/widgets/lists/_widget-12.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<!--layout-partial:partials/widgets/charts/_widget-31.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<!--layout-partial:partials/widgets/charts/_widget-30.html-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--layout-partial:partials/widgets/tables/_widget-5.html-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<!--layout-partial:partials/widgets/engage/_widget-1.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-10">
<!--layout-partial:partials/widgets/charts/_widget-5.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-5 mb-xl-10">
<!--layout-partial:partials/widgets/lists/_widget-6.html-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
        </div>
        <!--end::Content container-->
    </div>
<!--end::Content-->