{% load static %}
<!--begin::Footer-->
<div class="app-sidebar-footer d-flex align-items-center px-8 pb-10" id="kt_app_sidebar_footer">
    <!--begin::User-->
    <div class="">
        <!--begin::User info-->
        <div
            class="d-flex align-items-center"
            data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
            data-kt-menu-overflow="true"
            data-kt-menu-placement="top-start"
        >
            <div class="d-flex flex-center cursor-pointer symbol symbol-circle symbol-40px">
                <img src="{% get_static_prefix %}admin/media/avatars/300-1.jpg" alt="image"/>
            </div>
            <!--begin::Name-->
            <div class="d-flex flex-column align-items-start justify-content-center ms-3">
                <span class="text-gray-500  fs-8 fw-semibold">Hello</span>
                <a href="#" class="text-gray-800 fs-7 fw-bold text-hover-primary">CuliUp Test</a>
            </div>
            <!--end::Name-->
        </div>
        <!--end::User info-->
<!--layout-partial:partials/menus/_user-account-menu.html-->
{% include "partials/menus/_user-account-menu.html" %}
    </div>
    <!--end::User-->
</div>
<!--end::Footer-->